{% extends 'dash-base.html' %}
{% load static %}
{% load i18n %}
{% block head_title %}
    Customer - dashboard
{% endblock head_title%}
{% block custom_css %}{% endblock %}
{% block content%}
<div class="wrapper">
        <!-- Sidebar -->
        {% include 'dashboard/snippets/sidebar-menu.html' %}
         <!-- Page Content -->
         <div id="content">
                <!-- Top menu -->
                {% include 'dashboard/snippets/top-menu.html' %}
                <!-- Orders History -->
                <div id="ordersHistory" class="container-fluid">
                    <h5>{% trans 'Orders History' %} :</h5>
                    <div class="row">
                        {% for order_detail in order_details %}
                        <div class="col-12 mb-3">
                            <div class="card d-flex">
                                <img src="{{order_detail.item.image.url }}" alt='{% trans  "Image of the product"%} '>
                                <div class="order-info d-flex flex-column align-items-center">
                                    <span>{{order_detail.item.name}}</span>
                                    <span>{{order_detail.item.partner.name}}</span>
                                </div>
                                <div class="adress-info pl-2 pr-2 m-1">
                                    <span>{% trans 'Address delivery' %}: {{order_detail.order.delivered_address}}</span>
                                </div>
                                <div class="date-info">
                                    <span>{{order_detail.order.created_at|date:"d/m/Y" }}</span>
                                </div>
                                <div class="price-info ml-auto mr-4">
                                    <span>{{ order_detail.item.name }}</span>
                                </div>
                                 <div class="price-info ml-auto mr-4">
                                    <span>{{ order_detail.item.quantity }}</span>
                                </div>
                                <div class="price-info ml-auto mr-4">
                                    {{ order_detail.item.price }}<span class="money-symbol">€</span>
                                </div>
                            </div>
                        </div>
                        {% endfor%}
                    </div>
                </div>
            </div>
    </div>
{% endblock content%}
