{% load i18n %} {% load static %}
<div class="modal fade" id="create-item-modal" tabindex="-1" role="dialog" aria-labelledby="ItemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {% trans 'Create an item' %}:
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="create-item-form" enctype="multipart/form-data" novalidate>
                     <div class="alert alert-danger" role="alert" id="create-item-error">

                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label for="item-name">{% trans "Item's name" %}:</label>
                            <input type="text"
                                   name="name"
                                   class="form-control"
                                   id="item-name"
                                   required="required"
                                   minlength="2"
                                   maxlength="20"
                            >
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label for="item-quantity">{% trans "Quantity" %}:</label>
                            <input type="number"
                                   min="0"
                                   class="form-control"
                                   id="item-quantity"
                                   required="required"
                                   name="quantity">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-10">
                            <label for="item-description">
                                {% trans "Description" %}:
                            </label>
                            <textarea class="form-control"
                                     maxlength="140"
                                     name="description"
                                     id="item-description"
                                     ></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label for="item-price">{% trans "Price" %}:</label>
                            <input type="number"
                                   name="price"
                                   class="form-control"
                                   id="item-price"
                                   required="required"
                                   min="0"
                            >
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label for="is-available">
                                {% trans "Available" %}:
                                <input type="checkbox"
                                       name="item-is-available"
                                       id="is-available"
                                       required="required">

                            </label>

                        </div>
                    </div>
                    <input type="hidden" id="item-category" value="">
                    <div class="form-row" id="itemImageBlock">
                        <div class="form-group col-sm-10">
                            <div class="add-item-image-title">
                                <span>{% trans "Image" %}:</span>
                            </div>
                            <div class="add-dish-image-input d-flex" id="imageUpload">
                                <label for="item-image" id="itemImgIcon">
                                    <i class="fas fa-upload"></i>
                                </label>
                                <input type="file" class="form-control" id="item-image" name="image">
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary submit">
                            <i class="fas fa-check mr-2"></i>
                            {% trans "Add" %}
                        </button>
                        <img class="loading" src="{% static 'assets/imgs/loader.gif' %}" alt="loading..." />
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
                            <i class="fas fa-exclamation mr-2"></i>
                            {% trans "Cancel" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>