{% load i18n %}
<div class="modal fade" id="confirm-delete"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {% trans 'Delete Item'%}
            </div>
            <div class="modal-body">
                {% trans 'Are you sure you want to delete this item ?'%}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger " id="btn-ok" href="">Delete</a>
            </div>
        </div>
    </div>
</div>