{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block head_title %}
    Page Not found
{% endblock head_title%}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/menu-bs2.css' %}" type="text/css">

{% endblock %}
{% block content%}
    {% include 'snippets/menu-bs2.html' %}
    <div class="m-5 d-flex justify-content-center flex-row" >
        <img src="{% static 'assets/icons/404-icon.png' %}" alt="404 image">
        <p class="text-primary">
            {% trans "Looks like the page you're looking for doesn't exist." %}
            {% trans 'Check the link or return to the home page' %}
        </p>
        <a class="btn btn-primary" href="{% url 'profile:partner_list' %}" alt="return to home page">
            {% trans 'Return to home page' %}
        </a>
    </div>
{% endblock content%}