{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block head_title %}
    ERROR Found
{% endblock head_title%}
{% block custom_css %}

{% endblock %}
{% block content%}
    <p>
        Error Found
        <a href="{% url 'profile:partner_list' %}" alt="return to home page">
            {% trans 'Return to home page' %}
        </a>

    </p>
{% endblock content%}