{% extends 'dash-base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}
{% block head_title %}
    {% trans 'Edit Profile' %}
{% endblock head_title%}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile-update.css' %}" type="text/css">
{% endblock %}
{% block content%}
<div class="wrapper">
        <!-- Sidebar -->
        {% include 'dashboard/snippets/sidebar-menu.html' %}
         <!-- Page Content -->
         <div id="content">
                <!-- Top menu -->
                {% include 'dashboard/snippets/top-menu.html' %}
                {% include 'snippets/flash-messages.html'%}

                <form novalidate
                      class="container w-50"
                      action="{% url 'profile:edit-customer' request.user.slug %}"
                      method="post">
                {% csrf_token %}
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}

                {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }}

                    {% if form.is_bound %}
                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}

                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
                {% endfor %}
                    <input type="submit" class="btn btn-primary" value="{% trans 'submit' %}">
                </form>
        </div>
</div>

{% endblock content%}
{% block custom-js %}
    {% include 'profiles/snippets/js.html' %}
{% endblock custom-js %}
