{% extends 'dash-base.html' %}
{% load static %}
{% load i18n %}
{% block head_title %}
    {% trans 'Edit Profile' %}
{% endblock head_title%}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile-update.css' %}" type="text/css">
{% endblock %}
{% block content%}
    <div class="wrapper">
        {% include 'dashboard/snippets/sidebar-menu.html' %}
        <div id="content">
            {% include 'dashboard/snippets/top-menu.html' %}
            <div class="container w-75">
                    <form method="POST"
                          action="{% url 'checkout:subscription-package' package%}"
                          id='creditcard_form'
                    >
                        {% csrf_token %}
                        <div class="form-box">
                            <div class="row">
                                <div class="form-group col-sm-8">
                                    <label class="control-label text-primary">Card Number</label>
                                    <!--  Hosted Fields div container -->
                                    <div class="form-control braintree-form-control" id="card-number"></div>
                                    <span class="helper-text"></span>
                                </div>
                                <div class="form-group col-sm-4">
                                    <div class="row">
                                    <label class="control-label text-primary col-sm-12">Expiration Date</label>
                                    <div class="col-sm-6">
                                        <!--  Hosted Fields div container -->
                                        <div class="form-control braintree-form-control" id="expiration-month"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <!--  Hosted Fields div container -->
                                        <div class="form-control braintree-form-control" id="expiration-year"></div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label text-primary">Security Code</label>
                                    <!--  Hosted Fields div container -->
                                    <div class="form-control braintree-form-control" id="cvv"></div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden"
                               value="{{ request.session.braintree_client_token }}"
                               id="client-token">
                        <button type="submit"
                                class="btn btn-default">
                            {% trans 'submit' %}
                        </button>
                    </form>
            </div>
        </div>
    </div>

{% endblock content%}
{% block custom-js %}
    {% include 'profiles/snippets/js.html' %}
    {% include 'checkout/snippets/js.html' %}
{% endblock custom-js %}
