{% extends 'dash-base.html' %}
{% load static %}
{% load i18n %}
{% block head_title %}
    {% trans 'Edit Profile' %}
{% endblock head_title%}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile-update.css' %}" type="text/css">
{% endblock %}
{% block content%}
    <div class="wrapper">
        {% include 'dashboard/snippets/sidebar-menu.html' %}
        <div id="content">
            {% include 'dashboard/snippets/top-menu.html' %}
            <div class="container w-75" id="package-activated">
                {% trans 'Thanks for choosing the package '%}:{{package}}
            </div>
        </div>
    </div>
{% endblock content%}
{% block custom-js %}
    {% include 'profiles/snippets/js.html' %}
{% endblock custom-js %}
