{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block head_title %}
    Detail - Profile
{% endblock head_title%}
{% block custom_css %}
        <link rel="stylesheet" href="{% static 'css/menu-bs2.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'profiles/css/profile-page.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'profiles/css/slick.css' %}" type="text/css">
{% endblock %}

{% block content%}
    <!-- Header v2 -->
    {% include 'snippets/menu-bs2.html' %}
    {% include 'snippets/flash-messages.html'%}

    <!-- content wrapper -->
    <div id="wrapper" class="pt-4">
        <div class="container-fluid">
            <div id="storeInfo" class="row mb-5">
                <div class="col-12 col-md-4">
                    <div class="store-details">
                        {% if partner.image %}
                            <img src="{{partner.image.url}}" alt="" id="storeLogo">
                        {% endif %}
                        <h5 id="storeName">{{partner.first_name }} {{partner.last_name }}</h5>
                        <p id="storeDescription">
                            {{partner.description }}
                        </p>
                    </div>
                </div>
                {% if partner.is_open == True %}
                    <div id="todayDish" class="col-12 col-md-8">
                        {% for item in partner.items.all %}
                            {% if item.category.name == 'meal' and item.is_the_day_item %}
                                <h4 class="ml-4 text-center">{% trans 'Today Dish' %}</h4>
                                <div class="divider mb-2"></div>
                                <div class="col" id="{{ item.name }}">
                                    <div id="{{ item.slug }}" class="dish-card card today-dish-card">
                                            {% if item.image %}
                                                <img class="card-img-top img-cover-fix"
                                                    src="{{item.image.url}}"
                                                    alt="{{item.name}}">
                                            {% endif %}
                                        <div class="card-body p-1">
                                            <div class="card-title-price">
                                                <h5 class="card-title">{{item.name}}</h5>
                                                <span>€ {{item.price}}</span>
                                            </div>
                                            <div class="card-text">
                                                {{item.description}}
                                            </div>
                                            {% if item.is_available and item.quantity > 0 %}
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="left-items pl-2">
                                                        <span class="text-primary mr-1">{{item.quantity}} </span>
                                                        <img class="food-container-icon mr-1" src="{% static 'profiles/assets/icons/lunch-box.svg' %}">
                                                        <span class="text-primary"> {% trans 'left' %}</span>
                                                    </div>
                                                    <a  onclick="openOrderModal('{{ item.slug }}','{{ item.name }}')"
                                                        class="m-2 card-button-order btn btn-secondary text-white float-right">
                                                        {% trans 'Order' %}
                                                    </a>
                                                </div>
                                            {% else %}
                                                <button class="m-2 card-button-order btn btn-outline-secondary float-right" disabled>
                                                    {% trans 'Not available' %}
                                                </button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% if partner.is_open == True %}
                <div id="partner-open" >

                    <h4 class="ml-4">{% trans 'Dishes' %}</h4>
                    <div class="divider"></div>
                    <div id="dishes" class="dishes-slides row p-3 ">
                        {% if partner.items.all %}
                            {% for item in partner.items.all %}
                            {% if item.category.name == 'meal'%}
                                <div class="col mb-3" id="{{ item.name }}">
                                    <div id="{{ item.slug }}" class="card dish-card" >
                                        <img class="card-img-top img-cover-fix"
                                             src="{{item.image.url}}"
                                             alt="{{item.name}}">
                                        <div class="card-body p-1">
                                            <div class="card-title-price">
                                                <h5 class="card-title">{{item.name}}</h5>
                                                <span>€ {{item.price}}</span>
                                            </div>
                                            <div class="card-text">
                                                {{item.description}}
                                            </div>
                                            {% if item.is_available and item.quantity > 0 %}
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="left-items pl-2">
                                                        <span class="text-primary mr-1">{{item.quantity}} </span>
                                                        <img class="food-container-icon mr-1" src="{% static 'profiles/assets/icons/lunch-box.svg' %}">
                                                        <span class="text-primary"> {% trans 'left' %}</span>
                                                    </div>
                                                    <a  onclick="openOrderModal('{{ item.slug }}','{{ item.name }}')"
                                                        class="m-2 card-button-order btn btn-secondary text-white float-right">
                                                        {% trans 'Order' %}
                                                    </a>
                                                </div>
                                            {% else %}
                                                <button class="m-2 card-button-order btn btn-outline-secondary float-right" disabled>
                                                    {% trans 'Not available' %}
                                                </button>
                                            {% endif %}
                                            
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% endfor %}
                            {% else %}
                                {% trans 'No meal found'%}
                        {% endif %}
                    </div>
                    <h4 class="ml-4">{% trans 'Extras' %}</h4>
                    <div class="divider"></div>
                    <div id="extras" class="extras-slides row p-3 mb-5">
                        {% if partner.items.all %}
                            {% for item in partner.items.all %}
                               {% if item.category.name == 'extra'%}
                                    <div class="col" id="{{ item.name }}">
                                        <div id="{{ item.slug }}" class="card extra-card">
                                            <img class="card-img-top img-cover-fix"
                                                 src="{{item.image.url}}"
                                                 alt="Dish title">
                                            <div class="card-body p-1">
                                                <div class="card-title-price">
                                                    <h5 class="card-title">{{item.name}}</h5>
                                                    <span>€ {{item.price}}</span>
                                                </div>
                                                {% if item.is_available and item.quantity > 0 %}
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="left-items pl-2">
                                                            <span class="text-primary mr-1">{{item.quantity}} </span>
                                                            <img class="food-container-icon mr-1" src="{% static 'profiles/assets/icons/lunch-box.svg' %}">
                                                            <span class="text-primary"> {% trans 'left' %}</span>
                                                        </div>
                                                        <a  onclick="openOrderModal('{{ item.slug }}','{{ item.name }}')"
                                                            class="m-2 card-button-order btn btn-secondary text-white float-right">
                                                            {% trans 'Order' %}
                                                        </a>
                                                    </div>
                                                {% else %}
                                                    <button class="m-2 card-button-order btn btn-outline-secondary float-right" disabled>
                                                        {% trans 'Not available' %}
                                                    </button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% trans 'No extra found' %}
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div id="partner-close">
                    {% trans 'Sorry, we will open later on, thanks for your patience :-)' %}
                </div>
            {% endif%}


        </div>
    </div>
    <!--  footer -->
    {% include 'snippets/footer.html' %}

        {% include 'checkout/order_detail_modal.html' %}
{% endblock content%}
{% block custom-js%}
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'profiles/js/profile.js' %}"></script>
    <script src="{% static 'items/js/item-slide.js' %}"></script>
{% endblock custom-js%}