{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block head_title %}
    Aproxymeaty
{% endblock head_title%}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/menu-bs2.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'profiles/css/profile-search.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'profiles/css/profile-search-header.css' %}" type="text/css">
{% endblock %}

{% block content%}
    {% include 'profiles/snippets/search_header.html'%}
    {% include 'snippets/flash-messages.html'%}

    <div class="container">
        <div class="row">
            {% for partner in partners %}
                {% if partner.slug %}
                    <a href="{% url 'profile:detail-partner' partner.slug %}"
                       class="col-sm-12 col-md-4 mb-2">
                        <div class="card text-white store-card">
                            {% if partner.image %}
                                <img class="card-img-top image-fit"
                                     src="{{ partner.image.url }}"
                                     alt="img profile">
                            {% endif%}
                            <div class="card-body">
                                <div class="store-name text-center text-primary">{{ partner.last_name }}</div>
                                <p class="store-description text-center text-truncate text-muted">
                                    {{ partner.description }}
                                </p>

                            </div>
                        </div>
                    </a>
                {% endif %}
            {% empty %}
                No partners found
            {% endfor%}
            </div>
            <nav aria-label="Page navigation">
                    {% if is_paginated %}
                    <ul class="pagination justify-content-center">
                      {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link"
                               aria-label="Previous"
                               href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                        </li>
                      {% else %}
                      <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="#">&laquo;</a></li>
                      {% endif %}
                      {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                          <li class="page-item active">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                          </li>
                        {% else %}
                        <li class="page-item">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                          </li>
                        {% endif %}
                      {% endfor %}
                      {% if page_obj.has_next %}
                      <li class="page-item">
                          <a class="page-link"
                             aria-label="Next"
                             href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                      </li>
                      {% else %}
                      <li class="page-item disabled"><a class="page-link" aria-label="Next" href="#">&raquo;</a></li>
                      {% endif %}
                    </ul>
                  {% endif %}
            </nav>
        </div>

{% endblock content%}


