{% extends 'dash-base.html' %}
{% load static %}
{% load i18n %}
{% block head_title %}
    {% trans 'Edit Profile' %}
{% endblock head_title%}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile-update.css' %}" type="text/css">
{% endblock %}
{% block content%}
    <div class="wrapper">
        {% include 'dashboard/snippets/sidebar-menu.html' %}
        <div id="content">
            {% include 'dashboard/snippets/top-menu.html' %}
            <div class="container" id="subscription">
                <div class="row">
                    <div class="offset-md-1 col-xs-12 col-md-3 panel-container">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Bronze</h3>
                            </div>
                            <div class="panel-body">
                                <div class="the-price">
                                    <h1>
                                        $9<span class="subscript">/15{% trans ' days' %}</span></h1>
                                    <small>{% trans '15 days FREE trial' %}</small>
                                </div>
                                <table class="table">
                                    <tr>
                                        <td>
                                            de omnis iste natus error sit
                                        </td>
                                    </tr>
                                    <tr class="active">
                                        <td>
                                            de omnis iste
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            de omnis iste natus
                                        </td>
                                    </tr>
                                    <tr class="active">
                                        <td>
                                            iste natus error sit
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            de omnis iste  sit
                                        </td>
                                    </tr>
                                    <tr class="active">
                                        <td>
                                            de iste natus error sit
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <a href="/checkout/subscription/bronze/payment"
                                   class="btn btn-success try-button" role="button">
                                    {% trans 'Lets Try' %}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 panel-container">
                        <div class="panel panel-success">
                            <div class="cnrflash">
                                <div class="cnrflash-inner">
                                    <span class="cnrflash-label">MOST
                                        <br>
                                        POPULR</span>
                                </div>
                            </div>
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Silver</h3>
                            </div>
                            <div class="panel-body">
                                <div class="the-price">
                                    <h1>
                                        $19<span class="subscript">/15{% trans ' days' %}</span></h1>
                                    <small>{% trans '15 days FREE trial' %}</small>
                                </div>
                                <table class="table">
                                    <tr>
                                        <td>
                                            de omnis iste natus error sit
                                        </td>
                                    </tr>
                                    <tr class="active">
                                        <td>
                                            de omnis iste
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            de omnis iste natus
                                        </td>
                                    </tr>
                                    <tr class="active">
                                        <td>
                                            iste natus error sit
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            de omnis iste  sit
                                        </td>
                                    </tr>
                                    <tr class="active">
                                        <td>
                                            de iste natus error sit
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <a href="/checkout/subscription/silver/payment"
                                   class="btn btn-success try-button"
                                   role="button">
                                    {% trans 'Lets Try' %}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 panel-container">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Gold</h3>
                            </div>
                            <div class="panel-body">
                                <div class="the-price">
                                    <h1>
                                        $29<span class="subscript">/15{% trans ' days' %}</span></h1>
                                    <small>{% trans '15 days FREE trial' %}</small>
                                </div>
                                <table class="table">
                                    <tr>
                                        <td>
                                            de omnis iste natus error sit
                                        </td>
                                    </tr>
                                    <tr class="active">
                                        <td>
                                            de omnis iste
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            de omnis iste natus
                                        </td>
                                    </tr>
                                    <tr class="active">
                                        <td>
                                            iste natus error sit
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            de omnis iste  sit
                                        </td>
                                    </tr>
                                    <tr class="active">
                                        <td>
                                            de iste natus error sit
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <a href="/checkout/subscription/gold/payment"
                                   class="btn btn-success try-button"
                                   role="button">
                                    {% trans 'Lets Try' %}
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content%}
{% block custom-js %}
    {% include 'profiles/snippets/js.html' %}
    {% include 'checkout/snippets/js.html' %}
{% endblock custom-js %}
