{% extends 'dash-base.html' %}
{% load static %}
{% load i18n %}
{% block head_title %}
{% trans 'Edit Profile' %}
{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile-update.css' %}" type="text/css">
{% endblock %}
{% block content%}
<div class="wrapper">
    <!-- Sidebar -->
    {% include 'dashboard/snippets/sidebar-menu.html' %}
    <!-- Page Content -->
    <div id="content">
        <!-- Top menu -->
        {% include 'dashboard/snippets/top-menu.html' %}
        {% include 'snippets/flash-messages.html'%}

        <!-- Edit page -->
        <div class="container w-75">
            <form class="mt-4"
                  method="post"
                  action="{% url 'profile:edit-partner' partner.slug %}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-sm-6 col-md-4">
                        <label for="inputSpecialiteName">
                            {% trans 'Speciality' %}:
                        </label>
                        <input type="text" name="name" class="form-control"
                               id="inputSpecialiteName"
                               placeholder="Specialite Nom" required="required"
                            value="{{partner.name}}">
                    </div>
                    <div class="form-group col-sm-4 col-md-3">
                        <label for="inputPayOrgin">
                            {% trans "Country" %}:
                        </label>
                        <select name="country"
                                id="inputPayOrgin"
                                class="form-control">
                            <option selected="selected" disabled="disabled">
                                {% trans 'Select' %}...
                            </option>
                            <option value="france" {% if partner.country == "france" %} selected {% endif %}>

                                {% trans 'france' %}
                            </option>
                            <option value="italy" {% if partner.country == "italie" %} selected {% endif %}>
                                {% trans 'italie' %}
                            </option>
                            <option value="germany" {% if partner.country == "germany" %} selected {% endif %}>
                                {% trans 'germany' %}
                            </option>
                            <option value="spain" {% if partner.country == "espagne" %} selected {% endif %}>

                                {% trans 'spain' %}
                            </option>
                            <option value="portugal" {% if partner.country == "portugal" %} selected {% endif %}>
                                {% trans 'portugal' %}
                            </option>
                            <option value="china" {% if partner.country == "china" %} selected {% endif %}>
                                {% trans 'china' %}
                            </option>
                        </select>

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-10">
                        <label for="inputInfo">
                            {% trans 'Description' %}
                            <!--{{ profile.description|default_if_none:"nothing" }}-->
                        </label>
                        <textarea class="form-control"
                                  id="inputInfo"
                                  rows="3"
                                  name="description">
                                    {{partner.description}}
        
                                </textarea>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputPostalCode">
                            {% trans 'Zip code' %}
                        </label>
                        <input type="text"
                               class="form-control"
                               id="inputPostalCode"
                               name="zip_code"
                               value="{{partner.zip_code}}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="postaleCode">
                            {% trans 'City' %}
                        </label>
                        <input type="text"
                               class="form-control"
                               id="postaleCode"
                               name="city"
                               value="{{partner.city}}">
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-10">
                        <label for="address">

                            {% trans 'Address' %}
                        </label>
                        <textarea id="address"
                                  rows="2"
                                  class="form-control"
                                  name="address">{{partner.address}}</textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="item-of-the-day">
                            {% trans 'Meal of the day' %}
                        </label>
                        <select id="item-of-the-day" class="form-control" name="the-day-item-slug">
                            <option disabled="disabled" value=" ">Select...</option>
                            {{ {% for item in partner.items.all %} {% if item.category.name == 'meal'%}
                            <option value="{{item.slug}}" {% if item.is_The_Day_Item %}selected {% endif %}>
                                {{item.name}}
                            </option>
                            {% endif %} {% endfor%}
                        </select>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="add-dish-header p-2 d-flex">
                            <h5 class="text-primary"> {% trans 'Meals' %}</h5>
                            <button type="button" class="btn btn-primary" id="createMealPopUp">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        <!--list of meals-->
                        <ul class="list-group list-group-flush add-dish-list list-group-overflow">
                            {% for item in partner.items.all %}
                                {% if item.category.name == 'meal'%}
                                    <li class="list-group-item text-primary font-weight-bold"
                                        id="{{item.slug}}">
                                        {{item.name }}
                                        <button type="button" class="btn btn-danger delete-item">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                        <button type="button" class="btn btn-success editItem">
                                            <i class="fas fa-pencil-alt"></i>
                                        </button>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <div class="add-dish-header d-flex p-2">
                            <h5 class="text-primary">{% trans 'Extras' %}</h5>
                            <button type="button" class="btn btn-primary" id="createExtraPopUp">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        <ul class="list-group list-group-flush add-dish-list list-group-overflow">
                            {% for item in partner.items.all %} {% if item.category.name == 'extra'%}
                            <li class="list-group-item text-primary font-weight-bold" id="{{item.slug}}">
                                {{item.name }}
                                <button class="btn btn-danger delete-item">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                                <button type="button" class="btn btn-success editItem">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                            </li>
                            {% endif%} {% endfor%}
                        </ul>

                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-4">
                        <div class="add-dish-header p-2 d-flex">
                            <h5 class="text-primary">{% trans 'Image' %}</h5>
                            <span id="addProfilePict">
                                <i class="fas fa-plus"></i>
                            </span>

                        </div>
                        <div class="row m-2">
                            <input type="file" id="uploadProfPict" name="profileImage">
                            <img src="{{partner.image.url}}"
                                 id="profilePrevImg"
                                 alt="image"
                                 width="50"
                                 height="50" />

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="add-dish-header p-2 d-flex">
                            <h5 class="text-primary">{% trans 'Status' %}</h5>

                        </div>
                        <div class="row m-2">
                            <select class="form-control" id="status" name="is-open">
                                <option value="1" {% if partner.is_open == True %} selected {% endif %}>
                                    {% trans 'open' %}
                                </option>
                                <option value="0" {% if partner.is_open == False %} selected {% endif %}>
                                    {% trans 'close' %}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="d-flex submit-buttons">
                    <button type="submit" class="btn btn-primary mt-5 mb-5 mr-2">
                        <i class="fas fa-check mr-2"></i>
                        {% trans 'Save' %}
                    </button>

                </div>
            </form>
        </div>

    </div>
</div>

    {% include 'items/item_create_modal.html' %}
    {% include 'items/item_update_modal.html' %}
    {% include 'items/item_confirm_delete.html'%}
{% endblock content %}
{% block custom-js %}
    {% include 'items/snippets/js.html' %}
    {% include 'profiles/snippets/js.html'%}
{% endblock custom-js %}