{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/menu-bs2.css' %}" type="text/css">
    {% include 'profiles/snippets/css.html' %}
{% endblock %}
{% block head_title %}{% endblock head_title%}
{% block content%}

<div id="wrapper-bd">
    {% include 'snippets/menu-logo.html'%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 d-none d-md-block px-0">
                <img
                class="page-image" src="{% static 'profiles/assets/imgs/login-page-bg.jpg' %}"
                alt="approxymeaty">
            </div>
            <div class="col col-md-5 form-wrapper">
                <!-- Sign In Form -->
                <div id="signInForm" class="form-box">
                    <div class="form-title d-flex justify-content-between align-items-center">
                        <h5 class="text-secondary text-uppercase font-weight-light">{% trans 'Already members' %}</h5>
                        <button type="button" class="btn btn-link font-weight-light" onclick="ShowSignUpForm()">
                            {% trans 'Sign up' %}
                        </button>
                    </div>
                    <form   method="post"
                            action="{% url 'profile:login' %}"
                            class="needs-validation"
                            novalidate
                            >
                        {% csrf_token %}
                        {% if loginErrors.email %}
                            <div class="invalid-feedback">
                                {% trans 'Your email or password are not valid' %}
                            </div>
                        {% endif%}
                        <div class="form-group mr-2">
                            <input  type="email"
                                    name="email"
                                    placeholder="person@email.com"
                                    id="loginEmailInput"
                                    class="form-control"
                                    value="{{logForm.email}}"
                                    required
                                    >
                            {% if loginErrors.notActive %}
                                {{loginErrors.notActive}}
                            {% endif %}
                            {% if loginErrors.notValid %}
                                {{loginErrors.notValid}}
                            {% endif %}
                        </div>
                        <div class="form-group mr-2 password-group">
                            <input  type="password"
                                    name="password"
                                    placeholder="{% trans 'Password' %}"
                                    id="loginPasswordInput"
                                    class="form-control"
                                    required
                                    >
                        </div>
                        <div class="d-flex justify-content-center mb-2">
                                <a  href="{% url 'account:password_reset'%}"
                                    class="btn btn-link">
                                    {% trans 'Forgot Password?'%}
                                </a>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block text-uppercase">
                            {% trans 'Log in'%}
                        </button>
                    </form>
                </div>
                <!-- Sign Up form -->
                <div id="signUpForm" class="form-box d-none">
                        <div class="form-title d-flex justify-content-between align-items-center">
                            <h5 class="text-secondary text-uppercase font-weight-light">
                                {% trans 'Sign up' %}
                            </h5>
                            <button type="button"
                                    class="btn btn-link font-weight-light"
                                    onclick="ShowSignInForm()">
                                {% trans 'Log in' %}
                            </button>
                        </div>
                        <form method="post"
                              action="{% url 'profile:register' %}"
                              class="inscription-form needs-validation"
                              novalidate>
                        {% csrf_token %}
                        {% if emailExisted %}
                            {{emailExisted}}
                        {% endif %}
    
                        {% if regForm.errors.non_field_errors %}
                            {{ regForm.errors.non_field_errors }}
                        {% endif %}
    
                        <div class="form-row">
    
                            <div class="form-group col-md-6">
                                <input class="form-control"
                                        type="text"
                                        name="first_name"
                                        id="inputFirstName"
                                        value="{{regForm.first_name}}"
                                        placeholder="{% trans 'First Name' %}"
                                >
                                {% if registerErrors.first_name %}
                                    {{ registerErrors.first_name}}
                                {% endif %}
    
                            </div>
                            <div class="form-group col-md-6">
                                <input class="form-control"
                                        type="text"
                                        name="last_name"
                                        id="inputLastName"
                                        value="{{regForm.last_name}}"
                                        placeholder="{% trans 'Last Name' %}"
                                />
                                {% if registerErrors.last_name %}
                                    {{ registerErrors.last_name }}
                                {% endif %}
                            </div>
    
                        </div>
                        <div class="form-group col">
                            <input class="form-control"
                                    type="email"
                                    name="email"
                                    id="inputEmail"
                                    value="{{regForm.email}}"
                                    placeholder="{% trans 'E-mail' %}"
                                    >
                            {% if registerErrors.email %}
                                {{ registerErrors.email }}
                            {% endif %}
                        </div>
                        <div class="form-group col">
                            <input class="form-control"
                                    type="password"
                                    name="password"
                                    id="inputPassword"
                                    placeholder="{% trans 'Password' %}"
                                    >
                            {% if registerErrors.password %}
                                {{ registerErrors.password }}
                            {% endif %}
                        </div>
                        <div class="form-row">
                                <div class="form-group col-md-6">
                                        <select name="country" class="form-control" id="selectCountry">
                                            <option value="" >
                                                {% trans 'Country' %}
                                            </option>
                                            <option value="france"
                                                    {% if regForm.country == "france" %}   selected {% endif %}
                                            >
                                                {% trans 'France' %}
                                            </option>
                                            <option value="italie"
                                                    {% if regForm.country == "italie" %}   selected {% endif %}
                                            >
                                                {% trans 'Italy' %}
                                            </option>
                                            <option value="allemand"
                                                    {% if regForm.country == "allemand" %} selected {% endif %}
                                            >
                                                {% trans 'Germany' %}
                                            </option>
                                            <option value="espagne"
                                                    {% if regForm.country == "espagne" %} selected {% endif %}
                                            >
                                                {% trans 'Spain' %}
                                            </option>
                                            <option value="portugal"
                                                    {% if regForm.country == "portugal" %} selected {% endif %}
                                            >
                                                {% trans 'Portugal' %}
                                            </option>
                                            <option value="china"
                                                    {% if regForm.country == "china" %} selected {% endif %}
                                            >
                                                {% trans 'China' %}
                                            </option>
                                        </select>
                                        {% if registerErrors.country %}
                                            {{ registerErrors.country }}
                                        {% endif %}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <select name="profile" class="form-control" id="selectAccountType">
                                            <option value="" >
                                                {% trans 'Account type' %}
                                            </option>
                                            <option value="customer"
                                                    {% if regForm.user_type == "customer" %}selected {% endif %}
                                            >
                                                {% trans 'Individual' %}
                                            </option>
                                            <option value="partner"
                                                    {% if regForm.user_type == "partner" %}selected {% endif %}
                                            >
                                                {% trans 'Partner' %}
                                            </option>
                                        </select>
                                        {% if registerErrors.user_type %}
                                            {{ registerErrors.user_type }}
                                        {% endif %}
                                    </div>
                        </div>
                        <div class="form-row">
                                <button type="submit"
                                        class="inscription-btn btn btn-primary btn-block text-uppercase">
                                {% trans 'Sign up' %}
                            </button>
                        </div>
                    </form>
                    </div>
            </div>
        </div>
        <div class="row bg-white py-5">
            <div class="col-xs-12 col-md-3 feature-box">
                <img src="{% static 'profiles/assets/icons/favorites.svg' %}" alt="">
                <h4 class="text-secondary">
                    {% trans 'Chose your favorites' %}
                </h4>
            </div>
            <div class="col-xs-12 col-md-3 feature-box">
                <img src="{% static 'profiles/assets/icons/food box.svg' %}" alt="">
                <h4 class="text-secondary">
                    {% trans 'Order it' %}
                </h4>
            </div>
            <div class="col-xs-12 col-md-3 feature-box">
                <img src="{% static 'profiles/assets/icons/delivery.svg' %}" alt="">
                <h4 class="text-secondary">
                    {% trans 'We will deliver it' %}
                </h4>
            </div>
            <div class="col-xs-12 col-md-3 feature-box">
                <img src="{% static 'profiles/assets/icons/enjoy meal.svg' %}" alt="">
                <h4 class="text-secondary">
                    {% trans 'Enjoy' %}
                </h4>
            </div>
        </div>
    </div>
</div>
    {% include 'snippets/footer.html' %}
{% endblock content%}
{% block custom-js%}
    {% include 'profiles/snippets/js.html'%}
{% endblock custom-js%}


