{% load static %}
{% load i18n %}
<div class="">
    <button type="button" class="btn btn-primary" id="cartPopUpbtn">
        <i class="fas fa-shopping-cart"></i>
        {% if request.session.shopping_cart %}
            {{ shopping_cart.order_details.all|length }}
        {% else %}
            0
        {% endif %}
    </button>

{% if request.session.shopping_cart %}

    <div id="cartPopUp" class="cart-dropdown-menu">
        <h6 class="cart-dropdown-title">{% trans 'Order' %}</h6>
        {% for order_detail in shopping_cart.order_details.all %}
            <div class="cart-dropdown-item">
                <span>
                    {{order_detail.quantity}}. {{order_detail.item.name}}
                </span>
                <div id="{{order_detail.pk}}" class="cart-dropdown-item-price">
                    <span class="text-primary">
                        <span>€ {{order_detail.get_total_price}}</span>
                    </span>
                    <a class="cart-dropdown-close-btn btn transparent"
                       onclick="deleteCartItem('{{order_detail.pk}}')"
                       href="#">
                        <i class="text-primary fas fa-times"></i>
                    </a>
                </div>
            </div>
        {% endfor %}
        <div class="divider"></div>
        <!--<div class="cart-dropdown-item cart-dropdown-item-total">-->
            <!--<span>{% trans 'Total' %}</span>-->
            <!--<span class="text-primary">-->
                <!--€ {{shopping_cart_total}}-->
                <!--{{total}}-->
            <!--</span>-->
        <!--</div>-->
        <div class="d-flex justify-content-center" (click)="checkout()">
            <a href="/checkout/order" class="btn btn-primary">
                {% trans 'Checkout' %}
            </a>
        </div>
    </div>
    {% endif %}
</div>