{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block head_title %}
{% trans 'Check out' %}
{% endblock head_title%}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/menu-bs2.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}" type="text/css">
{% endblock %}

{% block content%}
<!-- Menu header-->
{% include 'snippets/menu-without-cart.html' %}
<!-- Content -->
    <div id="wrapper">
        <div class="container mb-5">
            <div class="row">
                <div class="col-12 col-md-6 order-last order-md-first">
                    <h4 class="mt-4 mb-5 text-primary">{% trans 'Checkout' %} </h4>

                    <!-- Form Section -->
                    <form method="POST"
                        action="{% url 'checkout:order' %}"
                        id='checkout-form'
                    >
                        {% csrf_token %}
                         <div class="card-errors">
                             {% if error %}
                                {{error}}
                             {% endif %}
                         </div>
                        <h6 class="text-primary">{% trans 'Delivery address' %}</h6>
                        <div class="form-box">

                            <div class="form-group">
                                <label class="text-primary" for="address">{% trans 'Address' %}</label>
                                <input class="form-control"
                                       name="address"
                                       value="{{shopping_cart.customer.address}}"
                                       id="address"
                                       required>
                            </div>
                            <div class="form-group">
                                <label class="text-primary"
                                       for="additional-address-info">
                                    {% trans 'Apt number or Company name' %} :
                                </label>
                                <input class="form-control"
                                       type="text"
                                       name="additional-address-info"
                                       id="additional-address-info" >
                            </div>
                            <div class="form-group">
                                <label class="text-primary"
                                       for="instruction">{% trans 'Delivery Instructions' %}  :</label>
                                <textarea class="form-control"
                                          name="instruction"
                                          id='instruction'
                                          placeholder="Add delivery instructions. (e.g. 'Use the call box when you arrive.')"
                                          rows="3">
                                </textarea>
                            </div>
                        </div>
                        <h6 class="text-primary">{% trans 'Payment' %} </h6>
                        <div class="checkbox">
                                  <input type="hidden" value="{{total|stringformat:'1.2f'}}" name="total" >
                                  {% if stripe_customer_acct.sources.data|length > 0 %}
                                      <div class="form-box debit-card-box">
                                        {% for card in stripe_customer_acct.sources.data %}
                                            <div class="d-flex justify-content-center align-items-center">
                                                <div class="radio-style-css">
                                                    <input type="radio" id="{{card.id}}"
                                                           value="{{card.id}}"
                                                           name="card-id">
                                                    <label for="{{card.id}}"></label>
                                                </div>
                                                <div class="col p-3">
                                                    <div class="bg-white payment-methode-card p-3 d-flex flex-column justify-content-between">
                                                        <div class="">
                                                            <div class="payment-type text-uppercase">
                                                                {{card.brand}}
                                                            </div>
                                                            <div class="payment-account text-uppercase">
                                                                xxxxxxxxxxxx{{ card.last4}}
                                                            </div>
                                                        </div>
                                                        <div class="d-flex flex-row justify-content-between">
                                                            <img src="{% static 'payment/img/'|add:card.brand|add:'.png' %}"
                                                                 height="35px">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        {% endfor %}
                                      </div>
                                      <input class="btn btn-primary checkout-btn"
                                             type="submit"
                                             value="{% trans 'Checkout' %}">
                                  {% else %}
                                        {% trans 'Please, add a payment account.' %}
                                        <a href="{% url 'payment:customer-show-card' %}">
                                            {% trans 'Click here' %}
                                        </a>
                                  {% endif %}
                        </div>
                    </form>
                </div>
                <div class="col-12 col-md-6">
                    <div class="cart-card">
                        <h5>{% trans 'Order' %}</h5>
                        <div id="orders" class="orders-list">
                            {% for order_detail in shopping_cart.order_details.all %}
                                <div class="order-item">
                                    <span>
                                        {{order_detail.quantity}} x {{order_detail.item.name}}
                                    </span>
                                    <div id="{{order_detail.pk}}" class="cart-dropdown-item-price">
                                        <span class="text-primary">
                                            € {{order_detail.get_total_price}}
                                        </span>
                                        <a  class="cart-dropdown-close-btn btn transparent"
                                            onclick="deleteCartItem('{{order_detail.pk}}')"
                                            href="#">
                                            <i class="text-primary fas fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="tax-total mt-3">
                            <div class="d-flex justify-content-between">
                                <span>{% trans 'Subtotal ' %}</span>
                                <span class="text-primary font-weight-bold">
                                    € {{sub_total}}
                                </span>
                            </div>
                        </div>
                        <div class="tax-total mt-3">
                            <div class="d-flex justify-content-between">
                                <span>{% trans 'Shipping fee ' %}</span>
                                <span class="text-primary font-weight-bold">
                                    € {{shipping_fee}}
                                </span>
                            </div>
                        </div>
                        <div class="orders-total mt-3">
                            <div class="d-flex justify-content-between">
                                <span class="font-weight-bold">{% trans 'Total TTC' %}</span>
                                <span class="text-primary font-weight-bold">
                                    € {{total}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock%}
{% block custom-js %}
    {% include 'checkout/snippets/js.html' %}
{% endblock custom-js %}