{% load static %}
{% load i18n %}
<div class="modal fade"
     id="orderDetailModal"
     tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="item-name">

        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="add-to-cart-form">
        <div class="modal-body">
          <div class="alert alert-danger" role="alert" id="add-to-cart-error">

          </div>
          {% csrf_token %}
          <input type="hidden" id="item-slug" name='slug' value="">

          <div class="form-group">
            <label for="order-detail-quantity"
                   class="col-form-label">
              {% trans 'Quantity' %}
            </label>
            <input type="number"
                   class="form-control"
                   id="order-detail-quantity"
                   min="0"
                   name="quantity"
            >
          </div>
          <div class="form-group">
            <label for="order-detail-instruction"
                   class="col-form-label">
              {% trans 'Instruction' %}
            </label>
            <textarea class="form-control"
                      id="order-detail-instruction"
                      name="instruction"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal">
            {% trans 'Close' %}
          </button>
          <button type="submit"
                  class="btn btn-primary">
            {% trans 'Add to card' %}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>