html {
  min-height: 100%;
}

body {
  background: #ff3e14;
  background: linear-gradient(
    326deg,
    rgba(255, 62, 20, 0.804359) 0%,
    white 92%
  );
  min-height: 100%;
}

#wrapper-bd{
  min-height: 100vh;
}

.page-image{
  width: 100%;
}

.form-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper .form-box{
  background-color: var(--white);
  padding: 0;
  border-radius: 10px;
  width: 65%;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.32);
}
@media screen and (max-width: 600px) {
  .form-wrapper .form-box{
    width: 100%;
    margin: 5px 0;
    margin-bottom: 30px;
  }
}

.form-wrapper .form-box .form-title{
  padding: 20px 10px;
  border-radius: 10px 10px 0 0;
  background-color: var(--white);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
  margin-bottom: 5px;
}

.form-wrapper .form-box .form-title .btn-link{
  font-size: 12px;
}

.form-wrapper .form-box  form{
  margin: 40px 25px;
}

.form-wrapper .form-box  form .btn-link{
  color: rgba(74, 74, 74, 0.44);
  font-size: 12px;
}

.form-wrapper .form-box  form .form-row{
  padding-right: 15px;
  padding-left: 15px;
}

.form-group input {
  border: solid 1.5px var(--primary);
  color: var(--primary);
}

.form-group select {
  border: solid 1.5px var(--primary);
  color: var(--primary);
}

.feature-box{
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feature-box img{
  max-height: 152px;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .feature-box {
    margin-bottom: 35px;
    margin-top: 0;
  }
}