.search-page-header {
  background: #fff;
  margin: 0px !important;
  margin-bottom: 20px !important;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
.search-page-header .logo-user-info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.search-page-header .logo-user-info .aproxymeaty-logo img {
  margin-top: 0px;
  height: 30px;
}
@media screen and (max-width: 767px) {
  .search-page-header .logo-user-info .aproxymeaty-logo img {
    margin-top: 7px;
    height: 18px;
  }
}
.search-page-header .logo-user-info .user-section {
  margin-right: 50px;
}
@media screen and (max-width: 767px) {
  .search-page-header .logo-user-info .user-section {
    margin-right: 0px;
  }
}
.search-page-header .search-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-page-header .search-section .search-btn-fix {
  padding-top: 15px;
}
.search-page-header .search-section .search-btn-fix button {
  width: 120px;
}
@media screen and (max-width: 767px) {
  .search-page-header .search-section .search-btn-fix button {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .search-page-header .search-section .form-group-full-width {
    width: 90%;
  }
}
@media screen and (max-width: 767px) {
  .search-page-header .search-section .form-group-half-width {
    width: 45%;
  }
}
.search-page-header .search-section #lieuActualInput {
  width: 360px;
}
@media screen and (max-width: 767px) {
  .search-page-header .search-section #lieuActualInput {
    width: 100%;
  }
}
.search-page-header .search-section .form-group label {
  color: #2e517a;
  font-weight: 500;
}
.search-page-header .search-section .form-group input {
  border: solid 1.5px #2e517a;
}
.search-page-header .search-section .form-group select {
  border: solid 1.5px #2e517a;
}

header{
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.16);
    margin-bottom: 20px;
}
