
/* ---------------------------------------------------
    wrapper STYLE
----------------------------------------------------- */
#wrapper{
  min-height: calc(100vh - 55px);
}

/* ---------------------------------------------------
    Store Info STYLE
----------------------------------------------------- */
#storeInfo .store-details{
  margin-left: 40px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#storeInfo #storeLogo{
  width: 140px;
  height: 72px;
  object-fit: cover;
}


.img-cover-fix{
  object-fit: cover;
}

/* ---------------------------------------------------
    Dish card STYLE
----------------------------------------------------- */
.dish-card{
  background: #ffffff;
  border: 1px solid #F0F0F0;
  border-radius: 5px;
  overflow: hidden;
  min-height: 260px;
  width: 100%;
  padding: 0;
}




.card-body{
  width: 100%;
}
.dish-card:hover{
  cursor: pointer;
  border-color: #FF3E14;
}

.card .card-title{
  color: var(--primary);
}

.dish-card .card-img-top{
  height: 140px;
}



.dish-card .card-body .card-title-price{
  display: flex;
  justify-content: space-between;
  margin-right: 20px;

}

.dish-card .card-text{
  margin-top: 8px;
  color: #808080;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  height: 2.8em;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.card-body .btn{
  border-radius: 20px;
  padding: 5px 19px;
}

@media (max-width: 768px){
  .dish-card .card-body .card-title-price{
    flex-direction: column;
    margin-right: 0px;
  }
}

@media (min-width: 720px){
  .today-dish-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 260px;
  }
  .today-dish-card .card-body .btn{
    margin-right: 20px;
    display: block;
  }
  .today-dish-card .card-img-top{
    width: 50%;
    height: 100%;
  }
}

/* ---------------------------------------------------
    Extra card STYLE
----------------------------------------------------- */

.extra-card{
  background: #ffffff;
  border: 1px solid #F0F0F0;
  border-radius: 5px;
  overflow: hidden;
  min-height: 200px;
  padding: 0;
}

.extra-card:hover{
  cursor: pointer;
  border-color: #FF3E14;
}

.extra-card .card-img-top{
  height: 130px;
}
.extra-card .card-body{
  width: 100%;
}
.extra-card .card-title-price{
  display: flex;
  justify-content: space-between;
}

.food-container-icon{
  width: 25px;
  padding-bottom: 5px;
}
.left-items{
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* ---------------------------------------------------
    Dishes extras Slides STYLE
----------------------------------------------------- */
.dishes-slides, .extras-slides{
  width: 90%;
  margin-left: 5%;
}
.slick-prev {
  left: -25px;
}

.slick-next {
  right: -25px;
}

.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

@media (max-width: 768px) {
  .slick-prev {
    left: -20px;
  }
  
  .slick-next {
    right: -10px;
  }

  .card-title{
    font-size: 17px;
  }
  .card-text{
    font-size: 14px;
  }
}
.slick-slide, .slick-current, .slick-active{
  outline: none;
}

/* Footer css custom style */
.aproxymeaty-footer {
  position: relative;
}
