.store-card .card-img-top{
  height: 130px;
}
.store-card .card-body{
  height: 70px;
  padding: .75rem;
}
.store-card .store-name{
  font-size: 17px;
  font-weight: 500;
}
.store-card .store-description{
  font-size: 15px;

}


@media screen and (max-width: 576px) {
  .store-card .card-img-top{
    height: 90px;
  }
}
