.profile-page-header {
  background: #fff;
  padding-bottom: 1px;
  margin: 0px !important;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  padding: 12px;
}
.profile-page-header .logo-user-info {
  display: flex;
  justify-content: space-between;
}
.profile-page-header .logo-user-info .aproxymeaty-logo img {
  height: 30px;
}
.profile-page-header .logo-user-info .user-section {
  margin-right: 50px;
}

.add-dish-header {
  justify-content: space-between;
  border-bottom: 2px solid #2e517a;
  align-items: center;
}
.add-dish-header button {
  padding: 1px 6px;
}

.add-dish-list button {
  padding: 1px 6px;
  float: right;
}

.add-dish-list .btn-success {
  padding: 1px 4px;
  margin-right: 5px;
}

.add-dish-img-card {
  height: 50px;
  width: 50px;
  margin: 5px 7px;
}
.add-dish-img-card img {
  height: 100%;
  width: 100%;
}
.add-dish-img-card .card-img-overlay {
  background: rgba(0, 0, 0, 0.5);
  padding: 0;
}
.add-dish-img-card .card-img-overlay button {
  height: 50px;
  width: 50px;
  color: #fff;
  border: 0px;
  margin-left: -1px;
  margin-top: -1px;
}

.submit-buttons {
  justify-content: center;
}
.submit-buttons button {
  width: 140px;
}

.modal-footer {
  justify-content: center;
}

.add-dish-image-input {
  justify-content: center;
}
.add-dish-image-input input[type='file'] {
  display: none;
}
.add-dish-image-input label {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.list-group-overflow{
  max-height: 324px;
  overflow-y: auto;
}
