/* ---------------------------------------------------
    Colors variables
----------------------------------------------------- */
.transparent{
  background-color: transparent;
}


/* ---------------------------------------------------
    Header STYLE
----------------------------------------------------- */
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 55px;
  align-items: center;
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
}
header .logo {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
header .logo img {
  height: 22px;
}

@media (max-width: 768px) {
  header{
    height: 80px;
    flex-direction: column;
    justify-content: center;
  }
}


/* ---------------------------------------------------
    Cart User sections STYLE
----------------------------------------------------- */
#cartUser{
  display: flex;
  flex-direction: row;
  padding: 0px 30px;
}

#cartUser button{
  margin-right: 35px;
}
#cartUser .btn-primary{
  font-weight: bold;
}

@media (max-width: 768px) {
  #cartUser{
    margin-top: 10px;
    justify-content: space-between;
    width: 100%;
  }
}