.image-fit {
  object-fit: cover;
}

/* Footer css custom style */
.aproxymeaty-footer {
  width: 100%;
  bottom: 0;
  background: #ff3e14;
  padding-left: 30px;
  padding-right: 30px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:relative;
}
.aproxymeaty-footer span {
  color: #fff;
  font-weight: 500;
}
.aproxymeaty-footer .social-media a {
  margin-left: 25px;
}
.aproxymeaty-footer .social-media a img {
  height: 15px;
}

.divider{
  width: 100%;
  border-bottom: 1px solid rgba(217, 219, 224, 0.5);
}



.radio-style-css input {
  position: absolute;
  left: 0;
  top: -300%;
  opacity: 0;
  visibility: hidden;
}
.radio-style-css input + label{
  background-color: var(--secondary);
}
.radio-style-css input:checked + label {
  border-color: #6CA1AD;
  opacity: 1;
}
.radio-style-css input:checked + label:after {
  content: "\f00c";
  opacity: 1;
}
.radio-style-css label {
  width: 26px;
  color: #fff;
  height: 26px;
  line-height: 26px;
  border-radius: 26px;
  display: inline-block;
  position: relative;
  border: 0px solid #535151;
  cursor: pointer;
  text-align: center;
  opacity: 0.5;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.radio-style-css label:after {
  content: "\f00d";
  position: absolute;
  left: 50%;
  margin-left: -7px;
  top: 50%;
  margin-top: -12px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  moz-transition: opacity 0.3s ease-in-out;
  o-transition: opacity 0.3s ease-in-out;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  font-size: 14px;
}

