{% extends "base.html" %}
{% block bodyclass %}{{ block.super }} login{% endblock %}
{% block content %}


  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
      <p class="errornote">
          {{ error }}
      </p>
    {% endfor %}
  {% endif %}

  <div id="content-main">


    <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
      <div class="form-row">
        {{ form.username.errors }}
        {{ form.username.label_tag }} {{ form.username }}

      </div>
      <div class="form-row">
        {{ form.password.errors }}
        {{ form.password.label_tag }} {{ form.password }}
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
      {% if password_reset_url %}
        <div class="password-reset-link">
          <a href="{% url 'account:password_reset' %}"> Mot de passe oublier</a>
        </div>
      {% endif %}
      <div class="submit-row">
        <input type="submit" value="Login" />
      </div>
    </form>

  </div>
{% endblock %}
