{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href= "{% static 'accounts/css/accounts_reset_password.css' %}" >
{% endblock %}
{% block content %}
    <header>
        <a href="{% url 'profile:partner_list' %}" class="logo">
            <img src="{% static 'home/assets/logos/logo-large.png' %}"
                 alt="aproxymeaty logo" >
        </a>
    </header>
    {% if validlink %}

        <div class="container center-container">
                <p>{% trans 'Please enter your new password twice so we can verify you typed it in correctly' %}</p>

                <form method="post">
                    {% csrf_token %}
                    <div class="form-group mb-2">
                        {{ form.new_password1.errors }}
                        <label class="text-primary" for="id_new_password1"> {% trans 'New password:' %} </label>
                        <input type="password" class="form-control" id="id_new_password1" name="new_password1" required>
                    </div>
                    <div class="form-group mb-2">
                            {{ form.new_password2.errors }}
                            <label class="text-primary" for="id_new_password2"> {% trans "Confirm password:" %} </label>
                            <input type="password" class="form-control" id="id_new_password2" name="new_password2" required>
                        </div>            
                        <input class="btn btn-primary" type="submit" value="{% trans 'Change my password' %}" />
                </form>
        </div>

    {% else %}

        <div class="container">
            <p>
                {% trans 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}
            </p>
            
        </div>
    {% endif %}

{% endblock %}
