{% extends 'dash-base.html' %}
{% load i18n static %}
{% block custom_css %}
    <link rel="stylesheet" href= "{% static 'accounts/css/accounts_change_password.css' %}" >
{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
<div class="wrapper">
        <!-- Sidebar -->
        {% include 'dashboard/snippets/sidebar-menu.html' %}
         <!-- Page Content -->
         <div id="content">
                <!-- Top menu -->
                {% include 'dashboard/snippets/top-menu.html' %}
                <div class="container">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group mb-2">
                            {{ form.old_password.errors }}
                            <label class="text-primary" for="id_old_password"> {% trans 'Current password:' %} </label>
                            <input type="password" class="form-control" id="id_old_password" name="old_password" required>
                        </div>
                        <div class="form-group mb-2">
                            {{ form.new_password1.errors }}
                            <label class="text-primary" for="id_new_password1"> {% trans 'New password:' %} </label>
                            <input type="password" class="form-control" id="id_new_password1" name="new_password1" required>
                            {% if form.new_password1.help_text %}
                                <div class="help">{{ form.new_password1.help_text|safe }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group mb-2">
                            {{ form.new_password2.errors }}
                            <label class="text-primary" for="id_new_password2"> {% trans 'Confirm the new password:' %} </label>
                            <input type="password" class="form-control" id="id_new_password2" name="new_password2" required>
                        </div>
                        <div class="submit-row">
                            <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
        </div>
</div>
    
{% endblock %}
