{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{{ title }}{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href= "{% static 'accounts/css/accounts_reset_password.css' %}" >
{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
    <header>
        <a href="{% url 'profile:partner_list' %}" class="logo">
            <img src="{% static 'home/assets/logos/logo-large.png' %}"
                 alt="aproxymeaty logo" >
        </a>
    </header>

    <div class="container reset-password-body">
        <h3>{% trans "Did you forget your password?" %}</h3>
        <p>
            {% trans "Enter your email address below, and we'll email instructions for setting a new one." %}
        </p>
    
        <form method="post">
            {% csrf_token %}
                <div class="form-group mb-2">
                    {{ form.email.errors }}
                    <label class="text-primary" for="id_email"> {% trans 'Email address:' %} </label>
                    <input type="email" class="form-control" id="id_email" name="email" required>
                </div>
                <button type="submit" class="btn btn-primary"> {% trans "Send verification email" %} </button>
            </form>
        </div>
    </div>

{% endblock %}
