{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{{ title }}{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href= "{% static 'accounts/css/style.css' %}" >
    <link rel="stylesheet" href= "{% static 'accounts/css/accounts_reset_password_done.css' %}" >
{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
    <header>
        <a href="{% url 'profile:partner_list' %}" class="logo">
            <img src="{% static 'home/assets/logos/logo-large.png' %}"
                 alt="aproxymeaty logo" >
        </a>
    </header>

    <div class="container">
        <p>
            {% trans "We've emailed you instructions for setting your password, "%}
            {% trans "if an account exists with the email you entered. You should receive them shortly."%}
        </p>
        <p>
            {% trans "If you don't receive an email, please make sure you've entered "%}
            {% trans "the address you registered with, and check your spam folder."%}
        </p>
    </div>
{% endblock %}
