{% extends 'dash-base.html' %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}
{% block content_title %}
    <h1>{{ title }}</h1>
{% endblock %}
{% block content %}
<div class="wrapper">
        <!-- Sidebar -->
        {% include 'dashboard/snippets/sidebar-menu.html' %}
         <!-- Page Content -->
         <div id="content">
                <!-- Top menu -->
                {% include 'dashboard/snippets/top-menu.html' %}
                <p>{% trans 'Your password was changed.' %}</p>
        </div>
</div>
{% endblock %}
