{% extends 'base.html' %}
{% load i18n static %}
{% block custom_css %}
    <link rel="stylesheet" href= "{% static 'accounts/css/style.css' %}" >
    <link rel="stylesheet" href="{% static 'accounts/css/accounts_reset_password_complete.css' %}">
{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <header>
        <a href="{% url 'profile:partner_list' %}" class="logo">
            <img src="{% static 'home/assets/logos/logo-large.png' %}"
                 alt="aproxymeaty logo" >
        </a>
    </header>
    <div class="container d-flex flex-column align-items-center">
            <img class="mb-5" src="{% static 'accounts/imgs/lock-icon.png' %}">    
            <p class="mb-5">
                    {% trans "The password has changed successfully :-)"  %}
            </p> 
            <a class="btn btn-primary" href="{% url 'profile:login' %}" >
                {% trans "Back to the login page"  %}
            </a>
    </div>


{% endblock %}
