{% extends 'base.html' %}
{% load static %}
{% block head_title %}  {% endblock head_title%}
{% block custom_css %}
    <!--{% include 'accounts/snippets/css.html' %}-->
    <link rel="stylesheet" href= "{% static 'accounts/css/style.css' %}" >
    <link rel="stylesheet" href= "{% static 'accounts/css/login-page.css' %}" >
    
{% endblock %}
{% block content%}
    <div class="login-page-header row">
            <div class="col-sm-12 col-lg-6 login-page-logo align-middle ">
                <img src="{% static 'profiles/assets/logos/logo-large.png' %}" alt="aproxymeaty logo">
            </div>
            <form method="post" action="{% url 'account:login' %}"
                  class="col-sm-12 col-lg-6 form-row login-page-login-form needs-validation"
                  novalidate>
                {% csrf_token %}
                {{loginErrors}}
                <div class="form-group mr-2">
                    <label for="loginEmailInput">E-mail</label>
                    <input type="email"
                           name="email"
                           placeholder=""
                           id="loginEmailInput"
                           class="form-control"
                           required>
                    <!--{% if form.email.errors %}-->
                        <!--<div class="invalid-feedback">-->
                            <!--Tapez une adresse e-mail valide-->
                        <!--</div>-->
                    <!--{% endif%}-->

                </div>

                <div class="form-group mr-2">
                    <label for="loginPasswordInput">Mot de passe</label>
                    <input type="password"
                           name="password"
                           placeholder=""
                           id="loginPasswordInput"
                           class="form-control"
                           required>
                    <!--{% if loginForm.password.errors %}-->
                        <!--<div class="invalid-feedback">-->
                            <!--Tapez votre mot de passe-->
                        <!--</div>-->
                     <!--{% endif%}-->
                </div>
                <div class="login-btn-fix">
                    <button type="submit" class="login-btn btn btn-primary">Connexion</button>
                </div>

            </form>
        </div>

        <div class="container-fluid login-page-container">

            <div class="row">
                <div class="col-sm-12 col-lg-6 login-page-left-side">
                    <img src="{% static 'profiles/assets/imgs/login-page-bg.jpg' %}" alt="approxymeaty">
                </div>
                <div class="col-sm-12 col-lg-6 login-page-right-side">
                    <form method="post"
                          action="{% url 'account:register' %}"
                          class="inscription-form needs-validation"
                          novalidate>
                        {{registerErrors}}
                        {% csrf_token %}
                        <h2>Inscription</h2>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputFirstName">Prenom</label>
                                <input class="form-control"
                                       type="text"
                                       name="first_name"
                                       id="inputFirstName"
                                       required>
                                <!--<div class="invalid-feedback" >-->
                                    <!--Ce champ est requis-->
                                <!--</div>-->
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputLastName">Nom</label>
                                <input class="form-control" type="text" name="last_name" id="inputLastName" required>
                                <!--<div class="invalid-feedback">-->
                                    <!--Ce champ est requis-->
                                <!--</div>-->
                            </div>

                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail">E-mail</label>
                            <input class="form-control" type="email" name="email" id="inputEmail" required>
                            <!--<div class="invalid-feedback">-->
                                <!--Tapez une adresse e-mail valide-->
                            <!--</div>-->
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword">Mot de passe</label>
                            <input class="form-control" type="password" name="password" id="inputPassword" required>
                            <!--<div class="invalid-feedback">-->
                                <!--Tapez une mot de passe valide-->
                            <!--</div>-->
                        </div>
                        <div class="form-group col-md-6">
                            <label for="selectCountry">Pays</label>
                            <select name="country" class="form-control" id="selectCountry">
                                <option value="france">France</option>
                                <option value="italie">Italie</option>
                                <option value="allemand">Allemand</option>
                                <option value="espagne">Espagne</option>
                                <option value="portugal">Portugal</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="selectAccountType">Compte type</label>
                            <select name="user_type" class="form-control" id="selectAccountType">
                                <option value="single">Normal</option>
                                <option value="partner">Partenaire</option>
                            </select>
                        </div>
                        <button type="submit" class="inscription-btn btn btn-primary">Inscription</button>
                    </form>
                </div>
            </div>
        </div>


    {% include 'snippets/footer.html'%}

    {% include 'accounts/snippets/js.html'%}

{% endblock content%}


