{% load static %}
{% load i18n %}
<nav id="sidebar">
    <div class="sidebar-header">
        <a href="{% url 'profile:partner_list' %}">
            <img src="{% static 'dashboard/logos/aproxymeaty-logo.png' %}" alt="aproxymeaty log">
        </a>

    </div>

    <ul class="list-unstyled components">
            <li class="">
                    <a href="{% url 'dashboard:home' %}">
                            {% trans 'Home' %}
                    </a>
                </li>
                
                {% if request.user.profile == 'partner'%}
                   <li>
                       <a href="{% url 'profile:edit-partner' request.user.slug %}">
                            {% trans 'Edit profile' %}
                       </a>
                   </li>
                   <li>
                       <a href="{% url 'profile:detail-partner' request.user.slug %}">
                            {% trans 'Display profile' %}
                       </a>
                   </li>
                    <li>
                        <a href="{% url 'payment:partner-show-bank-account' %}">
                            {% trans 'Payment Methods' %}
                        </a>
                    </li>

                {% else %}
                    <li>
                        <a href="{% url 'profile:edit-customer' request.user.slug %}">
                            {% trans 'Edit profile' %}
                        </a>
                    </li>
                     <li>
                        <a href="{% url 'payment:customer-show-card' %}">
                            {% trans 'Payment Methods' %}
                        </a>
                    </li>

        
                {% endif %}

                <li>
                    <a href="{% url 'account:password_change' %}">
                        {% trans 'Change password' %}
                    </a>
                </li>
                
    </ul>
</nav>