{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fas fa-align-left"></i>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item mr-3" id="go-to-website">
                        <a href="{% url 'profile:partner_list' %}">
                            <i class="fa fa-globe"></i>
                            {% trans 'Go to Website' %}
                        </a>
                </li>
                <li class="nav-item">
                        <a href="{% url 'account:logout'  %}">
                            <i class="fas fa-sign-out-alt"></i>
                            {% trans 'LogOut' %}
                        </a>
                </li>
            </ul>
        </div>
    </div>
</nav>