<!--
* NOTICE OF LICENSE
* This file is licenced under the Software License Agreement.
* With the purchase or the installation of the software in your application
* you accept the licence agreement.
*
* You must not modify, adapt or create derivative works of this source code
*
* @author: EL AKIOUI Zouhaire
* @copyright 2018
* @license   licence.txt
-->

{% load static %}
<script src="{% static 'accounts/js/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'accounts/js/popper.min.js' %}"></script>
<script src="{% static 'accounts/js/bootstrap.min.js' %}"></script>
<script src="{% static 'accounts/js/app.js' %}"></script>