{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/tippy.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}" type="text/css">
<script src="{% static 'js/fontawesome-all.min.js'%}"></script>

