{% load static %}
{% load i18n %}

<div class="container-fluid mt-3">
  <!-- All messages will be put here -->
  {% if request.user.is_active == False %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>{{ request.user.first_name}}!</strong>
      {% trans 'A verification email has been sent to you. Please complete the instructions contained in that email to finish your registration' %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
  
  
</div>

