{% load static %}
<footer class="aproxymeaty-footer">
    <span class="copyright">© Aproxymeaty 2018</span>
    <div class="social-media">
        <a href="https://www.instagram.com/aproxymeaty/?utm_source=ig_profile_share&igshid=m4nq00t6jlle">
            <img src="{% static 'profiles/assets/icons/instagram.png' %}" alt="instagram pic">
        </a>
        <a href="https://www.facebook.com/Aproxymeaty-2065690040129497/">
            <img src="{% static 'profiles/assets/icons/facebook.png' %}" alt="facebook pic">
        </a>
    </div>
</footer>