{% load static %}
{% load i18n %}
<div class="search-page-header">
    {% include 'snippets/menu.html' %}
    <form class="search-section form-row"
          method="get"
          action="{% url 'profile:profile_list' %}">
        <div class="form-group form-group-full-width mr-2">
            <label for="lieuActualInput">
                {% trans 'Address' %}
            </label>
            <input type="text"
                   name="address"
                   placeholder=""
                   id="lieuActualInput"
                   class="form-control">
        </div>
        <div class="form-group form-group-half-width mr-2">
            <label for="codePostalInput">
                {% trans 'Zip code' %}
            </label>
            <input type="text"
                   name="code_zip"
                   placeholder=""
                   id="codePostalInput"
                   class="form-control">
        </div>
        <div class="form-group form-group-half-width mr-2">
            <label for="villeInput">{% trans 'City' %}</label>
            <input type="text"
                   name="city"
                   placeholder=""
                   id="villeInput"
                   class="form-control">
        </div>
        <div class="search-btn-fix">
            <button type="submit"
                    class="login-btn btn btn-primary">
                 {% trans 'Search' %}
            </button>
        </div>
    </form>
</div>