{% load static  %}
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/tippy.standalone.min.js'%}"></script>
<script src="https://js.stripe.com/v2/"></script>
<script src="{% static 'checkout/js/cart.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>