{% load static %}
{% load i18n %}
<div class="logo-user-info">
    <div class="aproxymeaty-logo">
        <a href="{% url 'profile:partner_list' %}">
            <img src="{% static 'home/assets/logos/logo-large.png' %}"
                 alt="aproxymeaty logo" >
        </a>
    </div>
    <div class="user-section">
        <i class="far fa-user"></i>
        <div class="btn-group">
            {% if request.user.slug != None %}
                <button type="button"
                        class="btn btn-light dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    {{ request.user.first_name}}
                </button>
                <div class="dropdown-menu">
                    {% if request.user.profile == 'partner'%}
                        <a class="dropdown-item"
                           href="{% url 'profile:detail-partner'  request.user.slug %}">
                            {% trans 'Display Profile' %}
                        </a>
                    {%endif%}
                    <a class="dropdown-item"
                       href="{% url 'dashboard:home'%}">
                        {% trans 'Dashboard' %}
                    </a>
                    <a class="dropdown-item"
                       href="{% url 'account:logout' %}">
                        {% trans 'LogOut' %}
                    </a>

                </div>

            {% else %}

                 <a href="{% url 'profile:login'%}"> Login </a>
            {% endif %}

        </div>
    </div>
</div>
