{% load static %}
{% load i18n %}
<header>
   <a class="logo" href="{% url 'profile:partner_list' %}">
       <img src="{% static 'home/assets/logos/logo-large.png' %}" alt="aproxymeaty logo">
   </a>

  {% if request.user.slug != None %}
    <div id="cartUser">
        <div class="dropdown">
            <button type="button"
                    id="userDropDown"
                    class="btn transparent dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <i class="fas fa-user"></i>
                {{ request.user.first_name}}
            </button>
            <div class="dropdown-menu" aria-labelledby="userDropDown">
                <a class="dropdown-item" href="{% url 'dashboard:home'%}">
                  <i class="fas fa-columns"></i> {% trans 'Dashboard' %} 
                </a>
                {% if request.user.profile == 'partner'%}
                  <a class="dropdown-item" href="{% url 'profile:detail-partner'  request.user.slug %}">
                    <i class="fas fa-home"></i> {% trans 'Store' %}
                  </a>
                {%endif%}
                <a class="dropdown-item" href="{% url 'account:logout' %}">
                  <i class="fas fa-sign-out-alt"></i> {% trans 'LogOut' %}
                </a>
            </div>
        </div>
    </div>
    {% else %}
      <a class="btn btn-outline-primary mr-2" href="{% url 'profile:register'%}">
        {% trans 'Sign in' %} 
      </a>
    {% endif %}
</header>