{% load static %}
{% load i18n %}
<header class="bg-white">
  <a href="{% url 'profile:partner_list' %}" class="logo">
      <img src="{% static 'home/assets/logos/logo-large.png' %}"
           alt="aproxymeaty logo" >
  </a>
  
</header>