{% extends 'dash-base.html' %}
{% load static %}
{% load i18n %}
{% block head_title %}
    Dashboard
{% endblock head_title%}
{% block custom_css %}{% endblock %}
{% block content%}
    <div class="wrapper">
        <!-- Sidebar -->
        {% include 'dashboard/snippets/sidebar-menu.html' %}
         <!-- Page Content -->
         <div id="content">
                <!-- Top menu -->
                {% include 'dashboard/snippets/top-menu.html' %}
                <!-- Dashboard Numbers -->
                <div id="statsCard" class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="card d-flex p-3 justify-content-between">
                                <h5>{% trans 'Orders' %} : </h5>
                                <p class="text-right">{{order_details|length}}</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="card d-flex p-3 justify-content-between">
                                <h5>{% trans 'Pending Orders' %} : </h5>
                                <p class="text-right">{{pending_orders}}</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="card d-flex p-3 justify-content-between">
                                <h5>{% trans 'Revenue' %} : </h5>
                                <p class="text-right">
                                    <span class="money-symbol">€</span> 
                                    0
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Orders History -->
                <div id="ordersHistory" class="container-fluid">
                    <h5>{% trans 'Orders History' %} :</h5>
                    <div class="row">
                        {% for order_detail in order_details %}
                            <div class="col-12 mb-3">
                                <div class="card d-flex">
                                    <img src="{{orderDetail.item.image.url}}" alt='{% trans  "Image of the product"%} '>
                                    <div class="order-info d-flex flex-column align-items-center">
                                        <span>{{order_detail.item.name}}</span>
                                        <span>{% trans 'Ordered By' %}: {{order_detail.order.customer.first_name}}
                                            {{order_detail.order.customer.last_name}}
                                        </span>
                                    </div>
                                    <div class="adress-info m-1">
                                        <span class="text-center">{% trans 'delivery Address' %}:
                                            {{order_detail.order.delivered_address}}
                                        </span>
                                    </div>
                                    <div class="date-info">
                                        <span>{{order_detail.order.created_at|date:"d/m/Y" }}</span>
                                    </div>
                                    <div class="price-info ml-auto mr-4">
                                        <span>{{ order_detail.item.name }}</span>
                                    </div>
                                     <div class="price-info ml-auto mr-4">
                                        <span>{{ order_detail.quantity }}</span>
                                    </div>
                                    <div class="price-info ml-auto mr-4">
                                        <span>{{ order_detail.item.price }}€</span>
                                    </div>


                                </div>
                            </div>
                        {% endfor%}
                    </div>
                </div>
         </div>
    </div>
{% endblock content%}
