<!--
* NOTICE OF LICENSE
* This file is licenced under the Software License Agreement.
* With the purchase or the installation of the software in your application
* you accept the licence agreement.
*
* You must not modify, adapt or create derivative works of this source code
*
* @author: EL AKIOUI Zouhaire
* @copyright 2018
* @license   licence.txt
-->

<!DOCTYPE html>
<html lang=en>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% include 'snippets/css.html' %}
        <title>
            {% block head_title %}
                Aproxymeaty
            {% endblock head_title%}
        </title>
        {% block custom_css %}
        {% endblock custom_css %}
    </head>

    <body>
        {% block content%}
        {% endblock content%}
        {% include 'snippets/js.html' %}
        {% block custom-js%}
        {% endblock custom-js%}
    </body>

</html>
