/* ---------------------------------------------------
    cart dropdown menu STYLE
----------------------------------------------------- */
.cart-dropdown-menu{
  padding: 20px;
  border-radius: 10px;
  margin-top: 9px;
  margin-right: -50px;
  width: 500px !important;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
  border: 0px;
}

.cart-dropdown-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
  padding: .25rem 1.5rem;
}

.cart-dropdown-close-btn{
  margin-right: 0px !important;
  padding: 0 !important;
  margin-left: 10px;
}

.cart-dropdown-item-total{
  font-weight: bold;
}

.cart-dropdown-title{
  text-align: left;
}
.tippy-tooltip{
  padding: 20px;
  border-radius: 10px;
  width: 430px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
  border: 0px;
  background-color: #ffffff;
  color: black;
}
.tippy-roundarrow{
  fill: rgb(224, 224, 224);
}

@media (max-width: 768px){
  .tippy-tooltip{
    width: 320px;
    padding: 0px;
    padding-bottom: 20px;
    padding-top: 5px;
  }
  .cart-dropdown-title{
    text-align: left;
    margin: 10px;
  }
}


/* Start checkout page styling */
#wrapper{
  min-height: calc(100vh - 55px);
}

.form-box{
  padding: 40px;
  border: 1px solid #ECEDEF;
  margin: 45px 0;
}
.checkout-btn{
  float: right;
  width: 200px;
}

.cart-card{
  width: 70%;
  margin-right: 10%;
  float: right;
  margin-top: 30px;
  padding: 15px 25px;
  min-height: 600px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
}

.orders-list{
  min-height: 300px;
  border-bottom: 1px solid #ECEDEF;
}

.tax-total{
  min-height: 130px;
  border-bottom: 1px solid #ECEDEF;
}

.order-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order-item > span{
  font-weight: 500;
}

@media (max-width: 768px){
 .cart-card{
   width: 100%;
   margin-right: 0;
   padding: 5px 10px;
   min-height: 300px;
 }
 .orders-list{
  min-height: 120px;}
  .tax-total{
    min-height: 70px;}
}



.helper-text {
  color: #8A6D3B;
  font-size: 12px;
  margin-top: 5px;
  height: 12px;
  display: block;
}

/* Braintree Hosted Fields styling classes*/
.braintree-hosted-fields-focused { 
  border: 1px solid #0275d8;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.braintree-hosted-fields-focused.focused-invalid {
  border: 1px solid #ebcccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(100,100,0,.6);
}

@media (max-width: 670px) {
  .btn {
    white-space: normal;
  }
}

.braintree-form-control{
  height: 38px;
}

.debit-card-box{
  max-height : 500px;
  overflow-y: auto;
}