
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

#go-to-website{
    margin-right:5px;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #50739C;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #2E517A;
}

#sidebar .sidebar-header img{
    min-width: 200px;
    max-width: 200px;
}

#sidebar ul.components {
    padding: 40px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #2E517A;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #2E517A;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #50739C;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    background-color: #EFEFEF;
}

/* ---------------------------------------------------
    Stats cards section
----------------------------------------------------- */
#statsCard{
    margin-bottom: 18px;
}

#statsCard .card{
    height: 188px;
}

#statsCard .card p{
    color: #000000;
    font-size: 80px;
}

#statsCard .money-symbol{
    font-size: 31px;
}

/* ---------------------------------------------------
    Orders History section
----------------------------------------------------- */

#ordersHistory h5{
    margin-bottom: 18px;
}

#ordersHistory .card{
    height: 80px;
    flex-direction: row;
    align-items: center;
}

#ordersHistory .card img{
    width: 177px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
}

#ordersHistory .card div{
    margin-right: 60px;
}

#ordersHistory .card .price-info{
    font-size: 24px;
    font-weight: bold;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    #statsCard .card{
        margin-bottom: 5px;
    }
    /* ---------------------------------------------------
    Orders History section
    ----------------------------------------------------- */
    #ordersHistory .card{
        min-height: 300px;
        min-width: 250px;
        display: block !important;
    }

    #ordersHistory .card img{
        height: 100px;
        width: 100%;
        margin-right: 0;
        margin-bottom: 8px;
    }

    #ordersHistory .card div{
        margin-right: 0;
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
    }

    #ordersHistory .card div.price-info{
        margin-right: 0;
        margin-bottom: 5px;
        display: block;
    }

    #ordersHistory .card div.price-info span{
        float: right;
    }

    #ordersHistory .card .order-info span:first-of-type{
        font-weight: bold;
    }
}

.form-box{
    background-color: #fff;
}