{% extends 'dash-base.html' %}
{% load static %}
{% load i18n %}
{% block head_title %}
{% trans 'Add Payment Method' %}
{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/payments-methodes.css' %}" type="text/css">
{% endblock %}
{% block content%}
    <div class="wrapper">
        <!-- Sidebar -->
        {% include 'dashboard/snippets/sidebar-menu.html' %}
        <!-- Page Content -->
        <div id="content">
            <!-- Top menu -->
            {% include 'dashboard/snippets/top-menu.html' %}
            <!-- Payments Methods page -->
            <div class="container-fluid">
              <div class="row">
                <div class="bg-white col col-md-6 offset-md-3 pt-5 pb-5">
                  <h4 class="text-center">
                    {% trans 'Add New Payment Method' %}
                  </h4>
                  <div class="divider mb-3"></div>
                    <form action="{% url 'payment:customer-add-card' %}"
                          method="post"
                          id="customer-credit-card-form"
                          class=" px-md-5 py-md-3"
                    >
                        {% csrf_token %}

                        <div class="card-errors"></div>
                        <div class="row">
                            <div class="form-group col-xs-12 col-md-8">
                                <small id="card-number-help" class="form-text text-primary">
                                    {% trans 'Card number' %}
                                </small>
                                <input type="text"
                                       class="form-control card-number"
                                       id="card-number"
                                       aria-describedby="card-number"
                                       placeholder="{% trans 'Card number' %}">

                            </div>
                            <div class="form-group col-xs-12 col-md-4">
                                <small id="cvc-help" class="form-text text-primary">
                                    {% trans 'cvc' %}
                                </small>
                                <input type="text"
                                       class="form-control cvc"
                                       id="cvc"
                                       aria-describedby="cvc"
                                       placeholder="{% trans 'cvc' %}">
                            </div>
                        </div>
                        <h6 class="text-primary text-uppercase">{% trans 'Expire date' %}</h6>
                        <div class="row">
                            <div class="form-group col-6 col-md-4 offset-md-2">
                                <small id="card-expiry-month-help" class="form-text text-muted">
                                    {% trans 'Month' %}
                                </small>
                                <input type="text"
                                        class="form-control card-expiry-month"
                                        id="card-expiry-month"
                                        aria-describedby="card-expiry-month"
                                        placeholder="{% trans 'Month' %}">
                            </div>
                            <div class="form-group col-6 col-md-4">
                                <small id="card expiry year help" class="form-text text-muted">
                                    {% trans 'Year' %}
                                </small>
                                <input type="text"
                                        class="form-control card-expiry-year"
                                        id="card-expiry-year"
                                        aria-describedby="card-expiry-year"
                                        placeholder="{% trans 'Year' %}">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-block btn-primary mt-5" > {% trans 'Submit' %}</button>
                    </form>
                </div>
              </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block custom-js %}
      <script src="{% static 'payment/js/credit-card.js' %}" ></script>
{% endblock custom-js %}