{% extends 'dash-base.html' %}
{% load static %}
{% load i18n %}
{% block head_title %}
{% trans 'Payments Methods' %}
{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/payments-methodes.css' %}" type="text/css">
{% endblock %}
{% block content%}
    <div class="wrapper">
        <!-- Sidebar -->
        {% include 'dashboard/snippets/sidebar-menu.html' %}
        <!-- Page Content -->
        <div id="content">
            <!-- Top menu -->
            {% include 'dashboard/snippets/top-menu.html' %}
            <!-- Payments Methods page -->
            <div class="container-fluid">
                     <div class="bank-errors">
                         {% if error %}
                            {{error}}
                         {% endif %}
                     </div>
                    <div class="row">
                        {% for card in stripe_customer_acct.sources.data %}
                            <div class="col col-md-4 p-3">
                                <div class="bg-white payment-methode-card p-3 d-flex flex-column justify-content-between">
                                    <div class="">
                                        <div class="payment-type text-uppercase">
                                            {{card.brand}}
                                        </div>
                                        <div class="payment-account text-uppercase">
                                            xxxxxxxxxxxx{{ card.last4}}
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row justify-content-between">
                                        <div>
                                            {% if card.id == stripe_customer_acct.default_source %}
                                               {% trans 'Default' %}
                                            {% else %}
                                                 <a class="btn btn-link"
                                                   href="{% url 'payment:customer-default-card' card.id %}">
                                                    {% trans 'Set Default' %}
                                                </a>
                                            {% endif %}

                                          <button id="{{card.id}}"
                                                  type="button"
                                                  class="btn btn-danger delete-card">
                                              <i class="fas fa-trash-alt"></i>
                                          </button>
                                        </div>
                                        <img src="{% static 'payment/img/'|add:card.brand|add:'.png' %}" height="35px">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col col-md-4 p-3">
                            <a class="btn bg-white payment-methode-card d-flex flex-column justify-content-center align-items-center"
                                href="{% url 'payment:customer-add-card' %}">
                                <img src="{% static 'checkout/img/plus-icon.png' %}" height="64px">
                                <div class="mt-3">
                                    {% trans 'Add Payment Method' %}
                                </div>
                            </a>
                        </div>
                    </div>

            </div>

        </div>
    </div>
     {% include 'payment/card_confirm_delete.html'%}
{% endblock content %}
{% block custom-js %}
    {% include 'payment/snippets/js.html'%}
{% endblock custom-js %}