{% extends 'dash-base.html' %}
{% load static %}
{% load i18n %}
{% block head_title %}
    {% trans 'Add Payment Method' %}
{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/payments-methodes.css' %}" type="text/css">
{% endblock %}
{% block content%}
    <div class="wrapper">
        <!-- Sidebar -->
        {% include 'dashboard/snippets/sidebar-menu.html' %}
        <!-- Page Content -->
        <div id="content">
            <!-- Top menu -->
            {% include 'dashboard/snippets/top-menu.html' %}
            <!-- Payments Methods page -->
            <div class="container-fluid">
              <div class="row bg-white">
                <div class="col col-md-8 offset-md-2 pt-5 pb-5">
                  <h4 class="text-center">
                    {% trans 'Add New Payment Method (Bank)' %}
                  </h4>
                  <div class="divider mb-3"></div>
                    <form action="{% url 'payment:partner-add-bank-account' %}"
                          method="post"
                          id="partner-bank-account-form"
                    >
                        {% csrf_token %}
                         <div class="bank-errors"></div>
                         <div class="row">
                            <div class="form-group col-6">
                                <label>
                                    {% trans 'Country' %}
                                </label>
                                <input type="text"
                                        class="form-control country"
                                        id="country"
                                        aria-describedby="country"
                                        placeholder="{% trans 'Country' %}">
                                <small id="country-help" class="form-text text-muted">
                                    {% trans 'Ex: fr for France, de for Germany, ...' %}
                                </small>
                            </div>
                            <div class="form-group col-6">
                                <label for="currency">
                                    {% trans 'Currency' %}
                                </label>
                                <input type="text"
                                        class="form-control currency"
                                        id="currency"
                                        aria-describedby="currency"
                                        placeholder="{% trans 'Currency' %}">
                                <small id="currency-help" class="form-text text-muted">
                                    {% trans 'Ex. usd, eur...' %}
                                </small>
                            </div>
                         </div>
                        <div class="form-group">
                            <label for="routing-number">
                                {% trans 'Routing number' %}
                            </label>
                            <input type="text"
                                   class="form-control routing-number"
                                   id="routing-number"
                                   aria-describedby="routing-number"
                                   placeholder="{% trans 'Routing number' %}">
                            <small id="routing-number-help" class="form-text text-muted">
                                {% trans 'For non IBAN accounts only' %}
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="account-number">
                                {% trans 'Account number' %}
                            </label>
                            <input type="text"
                                   class="form-control account-number"
                                   id="account-number"
                                   aria-describedby="account-number"
                                   placeholder="{% trans 'Account number' %}">
                            <small id="account-number-help" class="form-text text-muted">
                                {% trans 'For EU contries use IBAN' %}
                            </small>
                        </div>
                        <div class="row">
                            <div class="form-group col-12 col-md-8">
                                <label for="account-holder-name">
                                    {% trans "Account holder's name" %}
                                </label>
                                <input type="text"
                                        class="form-control account-holder-name"
                                        id="account-holder-name"
                                        aria-describedby="account holder's name"
                                        placeholder="{% trans 'Account holder\'s name' %}">
                                <small id="account-holder-name-help" class="form-text text-muted">

                                </small>
                            </div>
                            <div class="form-group col-12 col-md-4">
                                <label for="account-holder-type">
                                    {% trans "Account holder's type" %}
                                </label>
                                <input type="text"
                                        class="form-control account-holder-type"
                                        id="account-holder-type"
                                        aria-describedby="account holder's type"
                                        placeholder="{% trans 'Company or individual' %}">
                                <small id="account-holder-type-help" class="form-text text-muted">

                                </small>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mt-3" > Submit</button>
                    </form>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block custom-js %}
  <script src="{% static 'payment/js/bank-account.js' %}" ></script>
{% endblock custom-js %}