{% extends 'dash-base.html' %}
{% load static %}
{% load i18n %}
{% block head_title %}
{% trans 'Payments Methods' %}
{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/payments-methodes.css' %}" type="text/css">
{% endblock %}
{% block content%}
    <div class="wrapper">
        <!-- Sidebar -->
        {% include 'dashboard/snippets/sidebar-menu.html' %}
        <!-- Page Content -->
        <div id="content">
            <!-- Top menu -->
            {% include 'dashboard/snippets/top-menu.html' %}
            <!-- Payments Methods page -->
            <div class="container-fluid">
                     <div class="bank-errors">
                         {% if error %}
                            {{error}}
                         {% endif %}

                     </div>
                    <div class="row">
                        {% for bank in stripe_partner_acct.external_accounts.data %}
                            <div class="col col-md-4 p-3">
                                <div class="bg-white payment-methode-card p-3 d-flex flex-column justify-content-between">
                                    <div class="">
                                        <div class="payment-type text-uppercase">
                                            {{bank.bank_name}}
                                        </div>
                                        <div class="payment-account text-uppercase">
                                            xxxxxxxxxxxx{{ bank.last4}}
                                        </div>
                                    </div>
                                    {% if bank.default_for_currency == False %}
                                        <div class="d-flex flex-row justify-content-between">
                                            <div>
                                                 <a class="btn btn-link"
                                                   href="{% url 'payment:partner-default-bank' bank.id %}">
                                                    {% trans 'Set Default for : ' %} {{bank.currency}}
                                                </a>
                                                <button id="{{bank.id}}"
                                                        type="button"
                                                        class="btn btn-danger delete-bank">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col col-md-4 p-3">
                            <a class="btn bg-white payment-methode-card d-flex flex-column justify-content-center align-items-center"
                                href="{% url 'payment:partner-add-bank-account' %}">
                                <img src="{% static 'checkout/img/plus-icon.png' %}" height="64px">
                                <div class="mt-3">
                                    {% trans 'Add Payment Method' %}
                                </div>
                            </a>
                        </div>
                    </div>

            </div>

        </div>
    </div>
    {% include 'payment/bank_confirm_delete.html'%}
{% endblock content %}
{% block custom-js %}
    {% include 'payment/snippets/js.html'%}
{% endblock custom-js %}