/* Reset password header css */
header{
  width: 100%;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
header .aproxymeaty-logo{
  width: 325px;
}
.center-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
p{
  text-align: center;
}

/* Reset password body css */
.reset-password-body{
  display: flex;
  align-items: center;
  flex-direction: column;
}
form{
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
form .form-group{
  width: 100%;
}
form .form-group label{
  font-weight: 500;
}
form .form-group input{
  border: 1.5px solid #2E517A ;
}

@media only screen and (max-width: 600px) {
  header{
    height: 40px;
  }
  header .aproxymeaty-logo{
    width: 45%;
  }
  form{
    width: 90%;
  }
  .reset-password-body h1{
    text-align: center;
    font-size: 19px;
    margin-bottom: 20px;
  }
  .reset-password-body p{
    text-align: center;
  }
}
