/* Reset password header css */
header{
  width: 100%;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
header .aproxymeaty-logo{
  width: 325px;
}

@media only screen and (max-width: 600px) {
  header{
    height: 40px;
  }
  header .aproxymeaty-logo{
    width: 45%;
  }
}